@media screen and (max-width: 480px) {

	button.btn.btn-primary.default-weight.run-button {
		width: 100%; 
		border-radius: 5px;
		margin: 0;
		margin-top: 10px;
	}
	button.go  {
		font-size: 11px;
	    height: 34px;
	    width: 91.8%; 
	    
	}
}