$font-weight: 800;
$list-background: #E8E8E8;
$list-header-background: #F8F8F8;
$fontweight-800: 800;
$fontweight-600: 600;

.sections {
  margin-top: 70px;
  color: #4C4C4C;
}
.list-header{
  border: none;
  background: $list-header-background;
  font-weight: $font-weight;
  padding: 10px;
}


.scanned-list li {
    font-size: 11px;
    height: 25px;
    line-height: 0.5;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid $list-background;
}

.scanned-list li:nth-child(odd) {
  background: $list-background;
}

.list-box {
    height: 400px;
    overflow-y: auto;
}

#icon {
  font-size: 22px;
  margin-right: 10px;
}

.sub-header {
  position: relative;
  top: -2px;
  font-weight: $font-weight;
}

.mid-header-box h1 {
  font-weight: 100;
  margin:0;
}

.fontweight-800 {
  font-weight: $fontweight-800;
}

.fontweight-600 {
  font-weight: 600;
}

.progress {
  margin-top: 20px;
}
